[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Solidworks Macro using the SolidWorks VB API,it allows to generate a PDF,DXF,DWG,JPG,TIF,EDRW from a .SLDDRW file.
[access "refs/*"]
	owner = group user/Safwene Ladhari (saffist3r)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Safwene Ladhari (saffist3r)
	label-Verified = -1..+1 group user/Safwene Ladhari (saffist3r)
	push = group user/Safwene Ladhari (saffist3r)
	read = group user/Safwene Ladhari (saffist3r)
	rebase = group user/Safwene Ladhari (saffist3r)
	removeReviewer = group user/Safwene Ladhari (saffist3r)
	submit = group user/Safwene Ladhari (saffist3r)
[access "refs/heads/*"]
	create = group user/Safwene Ladhari (saffist3r)
	push = +force group user/Safwene Ladhari (saffist3r)
	pushMerge = group user/Safwene Ladhari (saffist3r)
	read = group user/Safwene Ladhari (saffist3r)
[access "refs/tags/*"]
	push = group user/Safwene Ladhari (saffist3r)
	push = +force group user/Safwene Ladhari (saffist3r)
